<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laudantium
      iste nihil.
    </p>
  </header>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Started & Managed Updates</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, est
        architecto! Sunt est nostrum autem?
      </p>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laudantium
    iste nihil.
  </p>
</section>
<script src="js/main.js"></script>
